/* all main styles here */

#header-container {
    max-width: 50%;
    margin: 0 auto;
}

#header {
    font-family: 'Avenir', sans-serif;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Avenir', sans-serif;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
}


#container {
    margin: 0 auto;
    transform-origin: top center; 
    transform: scale(1);
    transition: transform 0.3s ease;
    min-height: 100vh;
    height: auto;
}


.body {
    min-height: 100vh;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#zoom-in-button, #zoom-out-button, #reset-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: fixed; 
    right: 48px;
}

:root{
    --thumbnail-width: 10%;
}

#interaction-panel{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    top: 20px;
    right: 40px;
    width: 30px;
    height: 120px;
    border: 1px solid #cccccc6d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 30;
}




